/* 
    CSS Guide 

    1. General Styles (Normalize)
    2. Header
    3. Footer
    ?. Case Study

/* 1. ---General Styles--- */

body {
    margin: 0px;
    padding: 0px;
    background-color: #ffffff;
}

img,
embed,
object,
video,
picture {
    max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5 {
    margin: 0px;
    padding: 0px;
}

ul {
    margin: 0px;
    padding: 0px;
}

/* h1,
h2,
h3,
h4,
h5 {
    font-family: ;
} */


a {
    text-decoration: none;
    transition: all .5s ease-in-out;
}

input,
textarea {
    display: block;
    margin: 0px;
    padding: 0px;
}

section h2,
section h3,
section p {
    padding-left: 15px;
}

.btn {
    background-color: #b3272d;
    border: none;
    border-radius: 20px;
    font-size: 14px;
    color: #E3DDCF;
    padding: 11px 50px;
    text-align: center;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

.btn:hover {
    background-color: #ed202d;
    color: white;
    transform: scale(1);
}


/* ---End of General Styles--- */

/* 2. Flexbox Items */

.flex-cont-header {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.flex-header {
    padding: 2px;
    text-align: center;

    margin-right: 10px;
}


/* ---End of Flexbox Items--- */

/* 3. ---Header--- */

header {
    background-color: white;
    font-size: 18px;
    position: sticky;
    top: 0;
    z-index: 999;
}

a {
    text-decoration: none;
    color: inherit;
}

.items {
    color: #707070;
    text-decoration: none;
    font-weight: 800;
    font-style: normal;
}

.items:hover {
    color: white;
    border-color: #b3272d;
}

.ul-navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    margin: 20px 0px 20px 0px;

}

.ul-navigation-tablet {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    margin: 20px 0px 20px 0px;
    padding: 0;

}

.ul-navigation-tablet a {
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
}

a i {
    transition: all 0.3s linear;
}

a:hover i {
    transform: scale(1);
    color: #ffffff;
}

.ul-navigation a {
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
}

.animation li {
    display: inline-block;
    position: relative;
    margin-right: 40px;
    border: 1px solid #707070;
    padding: 10px;
    border-radius: 25px;
    background-color: transparent;
}

.animation li::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    background-color: #ffffff;
    border-radius: 25px;
    transform-origin: bottom right;
    z-index: -1;
}

.animation li:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
    background-color: #b3272d;
    
    color: #ffffff;
}

.animation-tablet li {
    display: inline-block;
    position: relative;
    border: 1px solid #707070;
    padding: 10px;
    border-radius: 25px;
    background-color: transparent;
}

.animation-tablet li::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    background-color: #ffffff;
    border-radius: 25px;
    transform-origin: bottom right;
    z-index: -1;
}

.animation-tablet li:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
    background-color: #b1b1b1;
    color: #ffffff;
}

/* ---End of Header--- */



/* Student Directory page */


/* Style the container for the student list */
.student-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 20px 0px 0px 20px;
}

/* Style each student item */
.student-item {
    margin: 10px;
    padding: 10px;
    text-align: center;
    font-size: 2em;
}

.student-item a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s;
}

.student-item a:hover {
    color: #B3272D;
}

/* ---End of Student Directory page--- */


/* hero home*/

.text-container {
    display: flex;
    justify-content: left;
    margin: 1% 0 1% 0;
}

.text-container h3 {
    margin: 0;
    font-size: 8vw;
    color: rgba(225, 225, 225, .01);
    background-image: url("https://images.unsplash.com/photo-1499195333224-3ce974eecb47?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=2cf549433129d4227d1879347b9e78ce&auto=format&fit=crop&w=1248&q=80");
    background-repeat: repeat;
    -webkit-background-clip: text;
    background-clip: text;
    animation: animate 15s ease-in-out infinite;
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
}

@keyframes animate {

    0%,
    100% {
        background-position: left top;
    }

    25% {
        background-position: right bottom;
    }

    50% {
        background-position: left bottom;
    }

    75% {
        background-position: right top;
    }
}

/* End of hero home*/

/* 2024 GRADUATION SHOWCASE COMING SOON  */

.coming-soon {
    width: 100%;
    background-color: #B3272D;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 1% 0 1% 0;

}

.coming-soon-style {
    margin: 5% 0 5% 0;
}

.coming-soon-title {
    font-size: 3.2vw;
    color: white;

}

.coming-soon-text {
    margin-top: 2%;
    }





/* End of 2024 GRADUATION SHOWCASE COMING SOON  */

/* carrousel testimonials home */

.testimonial-container {
    max-width: 100%;
    height: 300px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;

}

.testimonial {
    margin-bottom: 20px;
}

.testimonial-text {
    font-size: 18px;
}

.testimonial-author {
    font-style: italic;
}



.testimonial-counter {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.counter-square {
    width: 18px;
    height: 8px;
    margin: 0 5px;
    background-color: #ccc;

    cursor: pointer;
}

.counter-square.active {
    background-color: #434343;
}

.testimonial-btn-counter {
    display: flex;
    justify-content: space-between;
}

/* End of carrousel testimonials home */


/* ?. Case Study Page */

/* Style Profile Picture and Background Information */

/* hero case study */
.hero-title {
    text-align: center;
    padding-top: 50px;
    margin-top: 50px;
    margin-bottom: 150px;
}

.hero-title::before {
    content: "";
    background-image: url('../images/hero_bkgrd.jpg');
    background-size: cover;
    background-position: center center;
    opacity: 0.4;
    position: absolute;
    top: 300px;
    left: 0;
    width: 100%;
    height: 304px;
    z-index: -1;
    background-position-x: center;
    background-position-y: center;
    }

.text-container-cs {
    display: flex;
    justify-content: center;
    margin: 1% 0 1% 0;
}

.text-container-cs h3 {
    margin: 0;
    font-size: 8vw;
    color: rgba(225, 225, 225, .01);
    background-image: url("https://images.unsplash.com/photo-1499195333224-3ce974eecb47?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=2cf549433129d4227d1879347b9e78ce&auto=format&fit=crop&w=1248&q=80");
    background-repeat: repeat;
    -webkit-background-clip: text;
    background-clip: text;
    animation: animate 15s ease-in-out infinite;
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
}

.bipotx {
    display: flex;
    align-self: center;
}

/* Project Description Section */
.project-des-con {
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    margin-bottom: 20px;
}

.line-separator-b {
    margin-bottom: 30px;
}

.line-separator-t {
    margin-top: 30px;
}

.p-goals {
    border-right: 1px solid #707070;
}

.p-goals ol {
    margin-bottom: 50px;
}

.tech-text {
    text-align: center;
}

/* Third Section Case Study */

/*.third-con {
    border-right: 1px solid #707070;
}
*/
.third-con p {
    text-transform: uppercase;
    text-align: center;
}

/* End of Case Study Page */

/* 4. ---Mobile Menu--- */

@keyframes bugfix {
    from {
        padding: 0;
    }

    to {
        padding: 0;
    }
}

@-webkit-keyframes bugfix {
    from {
        padding: 0;
    }

    to {
        padding: 0;
    }
}

#overlay-button {
    position: absolute;
    right: 1em;
    padding: 38px 11px;
    z-index: 999;
    cursor: pointer;
    user-select: none;
}

#overlay-button span {
    height: 3px;
    width: 25px;
    border-radius: 2px;
    background-color: #E3DDCF;
    position: relative;
    display: block;
    transition: all 0.2s ease-in-out;
}

#overlay-button span:before {
    top: -7px;
    visibility: visible;
}

#overlay-button span:after {
    top: 7px;
}

#overlay-button span:before,
#overlay-button span:after {
    height: 3px;
    width: 25px;
    border-radius: 2px;
    background-color: #E3DDCF;
    position: absolute;
    content: "";
    transition: all 0.2s ease-in-out;
}

#overlay-button:hover span,
#overlay-button:hover span:before,
#overlay-button:hover span:after {
    background: #999999;
}

input[type=checkbox] {
    display: none;
}

input[type=checkbox]:checked~#overlay {
    visibility: visible;
}

input[type=checkbox]:checked~#overlay-button:hover span,
input[type=checkbox]:checked~#overlay-button span {
    background: transparent;
}

input[type=checkbox]:checked~#overlay-button span:before {
    transform: rotate(45deg) translate(5px, 5px);
    opacity: 1;
}

input[type=checkbox]:checked~#overlay-button span:after {
    transform: rotate(-45deg) translate(5px, -5px);
}

#overlay {
    height: 100vh;
    width: 100vw;
    background: #b3272d;
    z-index: 5;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

#overlay.active {
    visibility: visible;
}

#overlay ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 100vh;
    padding-left: 0;
    list-style-type: none;
}

#overlay ul li {
    padding: .75em;
}

#overlay ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.25em;
}

#overlay ul li a:hover {
    color: #999999;
}

/* End of menu mobile */

/* Video Home */

.prom-video {
    margin: 8% 0 8% 0;
}

.video-text {
    font-size: 1.1em;
}

/* End of Video  */


/* card slider */

.wrapper {
    width: 100%;
    position: relative;
}

.wrapper .icon {
    top: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
    font-size: 1.25rem;
    position: absolute;
    text-align: center;
    line-height: 50px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
    transform: translateY(-50%);
    transition: transform 0.1s linear;
}

.wrapper .icon:active {
    transform: translateY(-50%) scale(0.85);
}

.wrapper .icon:first-child {
    left: -22px;
}

.wrapper .icon:last-child {
    right: -22px;
}

.wrapper .carousel {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 12px);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 16px;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.carousel.no-transition {
    scroll-behavior: auto;
}

.carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
}

.carousel.dragging .card-selected {
    cursor: grab;
    user-select: none;
}

.carousel :where(.img) {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel .card-selected {
    scroll-snap-align: start;
    list-style: none;
    background: #fff;
    cursor: pointer;
    padding-bottom: 15px;
    flex-direction: column;
}


.card-selected .img img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border: 4px solid #fff;
}

.carousel .card-selected h2 {
    display: flex;
    justify-content: center;
    font-weight: 500;
    font-size: 1.56rem;
    margin: 20px 0 20px 0;
}

.carousel .card-selected span {
    color: #6A6D78;
    font-size: 1.31rem;
}

.card-selected .title-selected {
    margin: 20px 10% 0 10%;
    display: flex;
    justify-content: space-between;
}

.btn-add {
    background-color: #0A284B;
    border: none;
    font-size: 14px;
    color: white;
    padding: 11px 30px;
    text-align: center;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

.btn-plus i {
    color: #0A284B;
    font-size: 32px;
    padding: 2px 10px;
    text-align: center;
    text-decoration: none;
    margin: 4px 2px;
    border-radius: 0px;
    cursor: pointer;
}


/* Media Queries */

@media screen and (min-width: 1200px) {

    /* video text */
    .video-text {
        font-size: 1.25em;

    }

    /* Coming soon section */

    .coming-soon-title {
        font-size: 28px;
    }

    .coming-soon-text {
        margin: 8% 0 12% 0;

    }

    .coming-soon-style {
        margin: 2% 0 2% 0;
    }

}

@media screen and (min-width: 1920px) {

    /* video text */
    .video-text {
        font-size: 1.25em;

    }

    /* Coming soon section */

    .coming-soon-title {
        font-size: 30px;
    }

    .coming-soon-text {
        margin: 8% 0 12% 0;

    }

    .coming-soon-style {
        margin: 2% 0 2% 0;
    }

}

/* End of Media Queries  */

/* Footer */

.footer-style {
    background-color: #F5F5F5;
    padding-top: 5em;
}

.copyright {
    padding-top: 30px;
    padding-bottom: 30px;
    color: #ffffff;
    background-color: #b3272d;
    display: flex;
    justify-content: center;
    font-weight: lighter;
}

.nav-list-style ul li {
    list-style-type: none;
}

.nav-list-style ul li a {
    text-decoration: none;
    font-size: 26px;
    color: #333333;
}

.nav-list-a:hover {
    transform: scale(1);
    color: #6A614A;
}

.nav-list-style {
    margin-bottom: 12%;
}

.social-media-style {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 15%;
}

.social-media-style li a {
    margin-right: 16px;
    text-align: center;
}

.social-media-style li {
    list-style-type: none;
}

.footer-icon {

    border-radius: 50%;
    background-color: #ED202D;
    border: none;
    color: white;
    padding: 18px;
    font-size: 16px;
    cursor: pointer;
}

.footer-icon i {
    transition: all 0.3s linear;
}

.footer-icon:hover i {
    transform: scale(1);
    color: #bababa;
}

/* End of footer */