/* 
    CSS Guide 

    1. General Styles (Normalize)
    2. Header
    3. Footer

/* 1. ---General Styles--- */

body {
    margin: 0px;
    padding: 0px;
    background-color: #ffffff;
}

img,
embed,
object,
video,
picture {
    max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5 {
    margin: 0px;
    padding: 0px;
}

ul {
    margin: 0px;
    padding: 0px;
}

/* h1,
h2,
h3,
h4,
h5 {
    font-family: ;
} */


a {
    text-decoration: none;
    transition: all .5s ease-in-out;
}

input,
textarea {
    display: block;
    margin: 0px;
    padding: 0px;
}

section h2,
section h3,
section p {
    padding-left: 15px;
}


/* ---End of General Styles--- */

/* 2. Flexbox Items */

.flex-cont-header {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.flex-header {
    padding: 2px;
    text-align: center;
    width: 100px;
    margin-right: 10px;
}


/* ---End of Flexbox Items--- */

/* 3. ---Header--- */

header {
    background-color: #E2231A;
    font-size: 18px;
    position: sticky;
    top: 0;
    z-index: 999;
}

a {
    text-decoration: none;
    color: inherit;
}

.items {
    color: #ffffff;
    text-decoration: none;
    font-weight: 800;
    font-style: normal;
}

.ul-navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    margin: 20px 0px 20px 0px;

}

.ul-navigation-tablet {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    margin-top: 5px;
    padding: 0;

}

a i {
    transition: all 0.3s linear;
}

a:hover i {
    transform: scale(1);
    color: #ffffff;
}

.ul-navigation a {
    text-decoration: none;
    font-size: 18px;
}

.animation li {
    display: inline-block;
    position: relative;
    color: #ffffff;
    margin-right: 40px;
}

.animation li::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.animation li:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.animation-tablet li {
    display: inline-block;
    position: relative;
    color: #E3DDCF;
    margin: 0;
}

.animation-tablet li::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.animation-tablet li:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* ---End of Header--- */



/* Student Directory page */


/* Style the container for the student list */
.student-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 20px 0px 0px 20px;
}

/* Style each student item */
.student-item {
    margin: 10px;
    padding: 10px;
    text-align: center;
    font-size: 2em;
}

.student-item a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s;
}

.student-item a:hover {
    color: #B3272D;
}

/* ---End of Student Directory page--- */


/* hero home*/

.text-container {
    display: flex;
    justify-content: left;
    margin: 1% 0 1% 0;
}

.text-container h3 {
    margin: 0;
    font-size: 8vw;
    color: rgba(225, 225, 225, .01);
    background-image: url("https://images.unsplash.com/photo-1499195333224-3ce974eecb47?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=2cf549433129d4227d1879347b9e78ce&auto=format&fit=crop&w=1248&q=80");
    background-repeat: repeat;
    -webkit-background-clip: text;
    animation: animate 15s ease-in-out infinite;
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
}

@keyframes animate {

    0%,
    100% {
        background-position: left top;
    }

    25% {
        background-position: right bottom;
    }

    50% {
        background-position: left bottom;
    }

    75% {
        background-position: right top;
    }
}

/* End of hero home*/

/* 2024 GRADUATION SHOWCASE COMING SOON  */

.coming-soon {
    width: 100%;
    background-color: rgb(235, 235, 235);
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 120px;
}

/* End of 2024 GRADUATION SHOWCASE COMING SOON  */

/* carrousel testimonials home */

.testimonial-container {
    max-width: 100%;
    height: 300px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    
}

.testimonial {
    margin-bottom: 20px;
}

.testimonial-text {
    font-size: 18px;
}

.testimonial-author {
    font-style: italic;
}



.testimonial-counter {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.counter-square {
    width: 18px;
    height: 8px;
    margin: 0 5px;
    background-color: #ccc;
    
    cursor: pointer;
}

.counter-square.active {
    background-color: #434343;
}

.testimonial-btn-counter {
    display: flex;
    justify-content: space-between;
}

/* End of carrousel testimonials home */

